profiles {
    conda {
        conda.enabled = true
    }
    docker {
        docker.enabled = true
    }
    local {
        conda.enabled = false
    }
}

params {
    cpus = 1
    implementation = 'both'
    r_env_bin = null
    pydeseq2_env_bin = null
}

process {
    withName: 'DESEQ2_DIFFERENTIAL' {
        cpus = params.cpus as int
        containerOptions = "--cpus ${params.cpus}"
        beforeScript = "export OMP_NUM_THREADS=1 OPENBLAS_NUM_THREADS=1 MKL_NUM_THREADS=1 NUMEXPR_NUM_THREADS=1 VECLIB_MAXIMUM_THREADS=1; " +
            (params.r_env_bin ? "export PATH=${params.r_env_bin}:" + '$PATH' : '')
        publishDir = [
            path: { "${params.outdir}/r_deseq2" },
            mode: 'copy',
        ]
        ext.args = "--sample_id_col sample --gene_id_col gene_id --shrink_lfc false --vs_method vst --seed 1 --cores ${params.cpus}"
    }

    withName: 'PYDESEQ2_DIFFERENTIAL' {
        cpus = params.cpus as int
        containerOptions = "--cpus ${params.cpus}"
        beforeScript = "export OMP_NUM_THREADS=1 OPENBLAS_NUM_THREADS=1 MKL_NUM_THREADS=1 NUMEXPR_NUM_THREADS=1 VECLIB_MAXIMUM_THREADS=1; " +
            (params.pydeseq2_env_bin ? "export PATH=${params.pydeseq2_env_bin}:" + '$PATH' : '')
        publishDir = [
            path: { "${params.outdir}/pydeseq2" },
            mode: 'copy',
        ]
        ext.args = "--sample_id_col sample --gene_id_col gene_id --feature_filtering false --vs_method vst --seed 1 --profile_runtime true"
    }
}
