profiles {
    conda {
        conda.enabled = true
    }
}

process {
    withName: 'PYDESEQ2_DIFFERENTIAL' {
        publishDir = [
            path: { params.outdir },
            mode: 'copy',
        ]
        ext.args = "--sample_id_col sample --gene_id_col gene_id --feature_filtering false --vs_method vst --seed 1"
    }
}
